src/ressources/Translation/**
Setup/*
node_modules/*
settings.json
Info.json
src/ressources/working
src/ressources/images/**
**/logs
.eslintrc
.eslintrc.json
.jshintrc
npm-debug.log
package-lock.json

