{
	"token": "token",
	"osutoken": "token",
	"carbonitex": "token",
	"discordbot": "token",
	"dborg": "token",
	"discordbotfr": "token",
	"discordlist": "token",
	"datadog": {
		"user": "username",
		"pass": "password"
	},
	"mysql": {
		"host": "localhost",
		"user": "user",
		"password": "pass",
		"database": "db"
	},
	"guildhook": {
		"id":"hook_id",
		"token":"hook_token"
	},
	"prefix": "$$",
	"ownerid": "138338704937713664",
	"author": "Shiigehiro#0164",
	"invite": "https://discordapp.com/oauth2/authorize?permissions=268954646&client_id=226393343385403403&scope=bot",
	"support": "https://discord.gg/wfTrpkg",
	"website": "https://shiigehiro.github.io/system/"
}
